In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path_market = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Økonomi/10 Thesis/Data/Market'
path_finacials = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Økonomi/10 Thesis/Data/Financials'

files_market = os.listdir(path_market)
files_financials = os.listdir(path_finacials)

# remove hidden files
files_market = [f for f in files_market if not f.startswith('.')]
files_financials = [f for f in files_financials if not f.startswith('.')]

In [3]:
# read market data from eikon
market_dfs = pd.read_excel(path_market + '/' + files_market[0], sheet_name=None)
market_keys = market_dfs.keys()
print(market_keys)

dict_keys(['OMX Copenhagen_PI | Leavers and', 'Unique Stocks', 'Common', 'Trade Values', 'PE Ratio', 'Turnover', 'Ask', 'Bid'])

In [4]:
# clean stock names
stocks_df = market_dfs['Unique Stocks'].iloc[:,0:3]

# display the modified DataFrame
display(stocks_df)

                 Name    Code incl. Expiration           Code
0              Penneo  PENNEO.CO^C25 (expired)  PENNEO.CO^C25
1          Noble Corp   NOBLE.CO^L24 (expired)   NOBLE.CO^L24
2               Sampo                 SAMPO.CO       SAMPO.CO
3          Topdanmark     TOP.CO^J24 (expired)     TOP.CO^J24
4           Intermail   IMAIL.CO^E24 (expired)   IMAIL.CO^E24
..                ...                      ...            ...
418  Britannia Invest                  SYDB.CO        SYDB.CO
419            I-Data                   TIV.CO         TIV.CO
420           Bioscan                   UIE.CO         UIE.CO
421         2M Invest                   VWS.CO         VWS.CO
422   United Plantatn                  VJBA.CO        VJBA.CO

[423 rows x 3 columns]

In [5]:
trade_values_df = market_dfs['Trade Values'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
trade_values_df.columns = pd.MultiIndex.from_arrays(trade_values_df.iloc[:2].values)

# drop the first two rows as they are now headers
trade_values_df = trade_values_df.iloc[2:].reset_index(drop=True)

# set the first column as index
trade_values_df.set_index(trade_values_df.columns[0], inplace=True)
trade_values_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(trade_values_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [6]:
# # overlapping w. trade_values_df
# common_df = market_dfs['Common'].iloc[:,1:]

# # convert the extracted values to strings to prevent dtype inference issues
# common_df.columns = pd.MultiIndex.from_arrays(common_df.iloc[:2].values)

# # drop the first two rows as they are now headers
# common_df = common_df.iloc[2:].reset_index(drop=True)

# # set the first column as index
# common_df.set_index(common_df.columns[0], inplace=True)
# common_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(common_df)

In [7]:
pe_ratio_df = market_dfs['PE Ratio'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
pe_ratio_df.columns = pd.MultiIndex.from_arrays(pe_ratio_df.iloc[:2].values)

# drop the first two rows as they are now headers
pe_ratio_df = pe_ratio_df.iloc[2:].reset_index(drop=True)

# set the first column as index
pe_ratio_df.set_index(pe_ratio_df.columns[0], inplace=True)
pe_ratio_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(pe_ratio_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [8]:
turnover_df = market_dfs['Turnover'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
turnover_df.columns = pd.MultiIndex.from_arrays(turnover_df.iloc[:2].values)

# drop the first two rows as they are now headers
turnover_df = turnover_df.iloc[2:].reset_index(drop=True)

# set the first column as index
turnover_df.set_index(turnover_df.columns[0], inplace=True)
turnover_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(turnover_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [9]:
ask_df = market_dfs['Ask'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
ask_df.columns = pd.MultiIndex.from_arrays(ask_df.iloc[:2].values)

# drop the first two rows as they are now headers
ask_df = ask_df.iloc[2:].reset_index(drop=True)

# set the first column as index
ask_df.set_index(ask_df.columns[0], inplace=True)
ask_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(ask_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [10]:
bid_df = market_dfs['Bid'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
bid_df.columns = pd.MultiIndex.from_arrays(bid_df.iloc[:2].values)

# drop the first two rows as they are now headers
bid_df = bid_df.iloc[2:].reset_index(drop=True)

# set the first column as index
bid_df.set_index(bid_df.columns[0], inplace=True)
bid_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(bid_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [12]:
market_df = trade_values_df.join([pe_ratio_df, turnover_df, ask_df, bid_df],how='outer')

# Sort columns by the first level of the multi-index
market_df = market_df.sort_index(axis=1, level=0)

display(market_df)

# save to csv in data folder
market_df.to_csv('data/market_data.csv')

                 AAB.CO                                                  \
              Ask Close    Bid Close PE Ratio  Trade Close   Trade High
Timestamp
2001-01-02  2771.564132  2666.976806      NaN  2719.270469  2876.151458
2001-01-03  2771.564132  2719.270469      NaN  2771.564132  2876.151458
2001-01-04  2719.270469  2666.976806      NaN  2717.178723  2771.564132
2001-01-05  2771.564132  2719.270469      NaN  2719.270469  2719.270469
2001-01-08  2771.564132  2719.270469      NaN  2666.976806  2666.976806
...                 ...          ...      ...          ...          ...
2025-02-27         33.6         32.6      NaN         32.8         33.6
2025-02-28         33.6         32.6      NaN         32.6         33.6
2025-03-03         33.8         32.8      NaN         33.8         33.8
2025-03-04         33.6         32.8      NaN         33.6         33.6
2025-03-05         33.4           33      NaN         33.2         33.4

                                                           AABn.CO^F06  ...  \
              Trade Low   Trade Open Trade Volume Turnover   Ask Close  ...
Timestamp                                                               ...
2001-01-02  2666.976806  2771.564132   106.131407   290510         NaN  ...
2001-01-03  2614.683143  2614.683143    18.013655    49530         NaN  ...
2001-01-04  2614.683143  2614.683143    15.585062    42184         NaN  ...
2001-01-05  2666.976806  2666.976806     3.824555    10250         NaN  ...
2001-01-08  2666.976806  2666.976806    11.836998    51456         NaN  ...
...                 ...          ...          ...      ...         ...  ...
2025-02-27         32.8         33.6          122     4000         NaN  ...
2025-02-28         32.6         32.6           74     2450         NaN  ...
2025-03-03         33.8         33.8           10      340         NaN  ...
2025-03-04         32.8         32.8           66     2190         NaN  ...
2025-03-05         32.6         33.4          248     8180         NaN  ...

           WEWER.CO^L05   ZELA.CO                                            \
               Turnover Ask Close Bid Close PE Ratio Trade Close Trade High
Timestamp
2001-01-02          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-03          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-04          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-05          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-08          NaN       NaN       NaN      NaN         NaN        NaN
...                 ...       ...       ...      ...         ...        ...
2025-02-27          NaN     700.5     699.5      NaN         695        703
2025-02-28          NaN       665       664      NaN         663        692
2025-03-03          NaN       617     616.5      NaN         610        685
2025-03-04          NaN       570       569      NaN       566.5        625
2025-03-05          NaN       560     558.5      NaN         555      586.5


           Trade Low Trade Open Trade Volume   Turnover
Timestamp
2001-01-02       NaN        NaN          NaN        NaN
2001-01-03       NaN        NaN          NaN        NaN
2001-01-04       NaN        NaN          NaN        NaN
2001-01-05       NaN        NaN          NaN        NaN
2001-01-08       NaN        NaN          NaN        NaN
...              ...        ...          ...        ...
2025-02-27       685      692.5       156528  108864400
2025-02-28       657        688       316329  210520970
2025-03-03       610      664.5       424168  269620040
2025-03-04       557        610       595943  345390010
2025-03-05       551        574       373127  210286230

[6047 rows x 3695 columns]