In [1]:
import pandas as pd
import numpy as np
from functions import *

%load_ext autoreload
%autoreload 2

In [2]:
# set paths to data
path = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Ã˜konomi/10 Thesis/Data'

# read monthly market data from eikon
finacials = 'eikon_financials.xlsx'
eikon_dfs = pd.read_excel(path + '/' + finacials, sheet_name=None)
eikon_keys = eikon_dfs.keys()
# print(eikon_keys)

In [3]:
fin_df = eikon_dfs['financials'].iloc[:, 1:]

# set name for first two columns
fin_df.columns = ['timestamp', 'ticker'] + list(fin_df.columns[2:])

# drop rows with no ticker
fin_df = fin_df[fin_df['ticker'].notna()]
# drop rows with no timestamp
fin_df = fin_df[fin_df['timestamp'].notna()].reset_index(drop=True)

# display(fin_df)

In [4]:
manual_records = [{
    'timestamp': '2006-08-31 00:00:00', 'ticker': 'ALKb.CO',
    'Revenue': 1489000000, 
    'Gross Profit': 992000000,
    'Research And Development': 282000000,
    'Operating Income': 53000000, 
    'Net Income After Taxes': 44000000, 
    'Cash': 1069000000, 
    'Total Current Assets': 1577000000, 
    'Total Assets, Reported': 2731000000,
    'Total Debt': 77000000,
    'Cash Flow': 60000000
},{
    'timestamp': '2004-05-31 00:00:00', 'ticker': 'BIOPOR.CO',
    'Revenue': 2420000, 
    'Gross Profit': 1690000,
    'Research And Development': 0.0,
    'Operating Income': 520000, 
    'Net Income After Taxes': -120000, 
    'Cash': 12400000, 
    'Total Current Assets': 16600000, 
    'Total Assets, Reported': 81000000,
    'Total Debt': 5600000,
    'Cash Flow': -4360000
},{
    'timestamp': '2011-06-30 00:00:00', 'ticker': 'BOLIGA.CO^K21',
    'Revenue': 33175620, 
    'Gross Profit': 29706170,
    'Research And Development': 0.0,
    'Operating Income': 3879050, 
    'Net Income After Taxes': 3345570, 
    'Cash': 32095490, 
    'Total Current Assets': 45296070, 
    'Total Assets, Reported': 58775190,
    'Total Debt': 0.0,
    'Cash Flow': 8961960
},{
    'timestamp': '2000-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 13139000000, 
    'Gross Profit': 3200000000,
    'Research And Development': 0.0,
    'Operating Income': 697000000, 
    'Net Income After Taxes': 346000000, 
    'Cash': 267000000, 
    'Total Current Assets': 3697000000, 
    'Total Assets, Reported': 7179000000,
    'Total Debt': 4454000000,
    'Cash Flow': 482000000
},{
    'timestamp': '2001-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 14639000000, 
    'Gross Profit': 3546000000,
    'Research And Development': 0.0,
    'Operating Income': 713000000, 
    'Net Income After Taxes': 278000000, 
    'Cash': 272000000, 
    'Total Current Assets': 3621000000, 
    'Total Assets, Reported': 7264000000,
    'Total Debt': 4324000000,
    'Cash Flow': 577000000
},{
    'timestamp': '2002-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 14878000000, 
    'Gross Profit': 3662000000,
    'Research And Development': 0.0,
    'Operating Income': 945000000, 
    'Net Income After Taxes': 376000000, 
    'Cash': 325000000, 
    'Total Current Assets': 3505000000, 
    'Total Assets, Reported': 7216000000,
    'Total Debt': 3944000000,
    'Cash Flow': 1224000000
},{
    'timestamp': '2008-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 89942116, 
    'Gross Profit': 38971590,
    'Research And Development': 0.0,
    'Operating Income': -318193367, 
    'Net Income After Taxes': -219651639 , 
    'Cash': 640314+5060928, 
    'Total Current Assets': 0.0, 
    'Total Assets, Reported': 7823151,
    'Total Debt': 612247,
    'Cash Flow': -189854162
},{
    'timestamp': '2009-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 58930, 
    'Gross Profit': 48129,
    'Research And Development': 0.0,
    'Operating Income': 2938626, 
    'Net Income After Taxes': 2938626, 
    'Cash': 2139091+8176790, 
    'Total Current Assets': 0.0, 
    'Total Assets, Reported': 10381881,
    'Total Debt': 232351,
    'Cash Flow': 2938626
},{
    'timestamp': '2010-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 297689000, 
    'Gross Profit': 86597000,
    'Research And Development': 0.0,
    'Operating Income': 32258000, 
    'Net Income After Taxes': 25263000, 
    'Cash': 14035000, 
    'Total Current Assets': 122273000, 
    'Total Assets, Reported': 135928000,
    'Total Debt': 49285000,
    'Cash Flow': 29006000
},{
    'timestamp': '2000-12-31 00:00:00', 'ticker': 'DSV.CO',
    'Revenue': 4371256000,
    'Gross Profit': 622037000,
    'Research And Development': 0.0,
    'Operating Income': 198677000,
    'Net Income After Taxes': 139983000,
    'Cash': 129830000,
    'Total Current Assets': 1042343000,
    'Total Assets, Reported': 1819062000,
    'Total Debt': 413486000,
    'Cash Flow': 215396000
},{
    'timestamp': '2001-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1673400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 82600000,
    'Net Income After Taxes': 30100000,
    'Cash': 720700000,
    'Total Current Assets': 1403897000,
    'Total Assets, Reported': 2650000000,
    'Total Debt': 992877000,
    'Cash Flow': 252369000

},{
    'timestamp': '2002-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1796400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': -23800000,
    'Net Income After Taxes': 4000000,
    'Cash': 730500000,
    'Total Current Assets': 1452345000,
    'Total Assets, Reported': 2467500000,
    'Total Debt': 869929000,
    'Cash Flow': 317996000

},{
    'timestamp': '2003-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1791400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 303200000,
    'Net Income After Taxes': 55500000,
    'Cash': 795300000,
    'Total Current Assets': 1801125000,
    'Total Assets, Reported': 2764300000,
    'Total Debt': 760001000,
    'Cash Flow': 440351000

},{
    'timestamp': '2004-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 868900000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 192800000,
    'Net Income After Taxes': 1219500000,
    'Cash': 1271400000,
    'Total Current Assets': 1569547000,
    'Total Assets, Reported': 1764800000,
    'Total Debt': 3682000,
    'Cash Flow': 31563000

},
]


for rec in manual_records:
    fin_df.loc[len(fin_df)] = rec

fin_df['timestamp'] = pd.to_datetime(fin_df['timestamp'])
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2006-12-31')),
    ['Revenue',
     'Gross Profit',
     'Operating Income',
     'Net Income After Taxes',
     'Research And Development',
     'Cash Flow']
] = [1519000000, 1014000000, -55000000, -36000000, 320000000, -2000000]
fin_df.loc[
    (fin_df['ticker'] == 'DAII.CO^I16') &
    (fin_df['timestamp'] == pd.Timestamp('2015-12-31')),
    ['Operating Income',
     'Cash Flow']
] = [0, 0]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2000-12-31')),
    ['Cash']
] = [3500000]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2001-12-31')),
    ['Cash']
] = [5300000]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2002-12-31')),
    ['Cash']
] = [1600000]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2014-12-31')),
    ['Cash']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2015-12-31')),
    ['Cash']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SBS.CO^L24') &
    (fin_df['timestamp'] == pd.Timestamp('2021-12-31')),
    ['Cash']
] = [100000]

fin_df.loc[
    (fin_df['ticker'] == 'SBS.CO^L24') &
    (fin_df['timestamp'] == pd.Timestamp('2022-12-31')),
    ['Cash']
] = [100000]

fin_df.loc[
    (fin_df['ticker'] == 'TOWER.CO^K12') &
    (fin_df['timestamp'] == pd.Timestamp('2011-12-31')),
    ['Cash']
] = [0.0]

# display(fin_df)

In [5]:
# set everything except the first two columns to numeric
for col in fin_df.columns[2:]:
    fin_df[col] = pd.to_numeric(fin_df[col], errors='coerce')

# set index to timestamp
fin_df.set_index('timestamp', inplace=True)


# calculate revenue
fin_df['revenue'] = (fin_df['Revenue']
                     .fillna(fin_df['Total Revenue'])
                     .fillna(fin_df['Bank Total Revenue'])
                     .fillna(fin_df['Interest Income, Bank']+fin_df['Non-Interest Income, Bank']).fillna(0))

# set R&D to 0 if NaN
fin_df['rnd'] = fin_df['Research And Development'].fillna(0)

# calculate cash
fin_df['cash'] = (fin_df['Cash and Short Term Investments']
                  .fillna(fin_df['Cash and Equivalents'])
                  .fillna(fin_df['Cash & Due From Banks'])
                  .fillna(fin_df['Cash'])
                  .fillna(fin_df['Cash and Short Term Investments.1'])
                  .fillna(fin_df['Other Earning Assets, Total'])
                )

fin_df['grossprofit'] = (fin_df['Gross Profit']
                         .fillna(fin_df['revenue']))


fin_df['opinc'] = (fin_df['Operating Income']
                   .fillna(fin_df['grossprofit']-fin_df['Total Operating Expense'])
                   .fillna(fin_df['Net Income Before Taxes']))

fin_df['cashflow'] = (fin_df['Cash Flow']
             .fillna(fin_df['Cash from Operating Activities, Cumulative']))


fin_df['debt'] = (fin_df['Total Debt']
                  .fillna(fin_df['Total Liabilities']))

fin_df['currentassets'] = fin_df['Total Current Assets'].fillna(0)

# drop columns
fin_df.drop(columns=['Revenue', 'Total Revenue', 'Bank Total Revenue', 'Interest Income, Bank', 'Non-Interest Income, Bank',
                    'Research And Development', 
                    'Cash','Cash and Equivalents','Cash and Short Term Investments', 'Cash & Due From Banks', 'Cash and Short Term Investments.1',
                    'Other Earning Assets, Total',
                    'Gross Profit',
                    'Operating Income', 'Total Operating Expense', 'Net Income Before Taxes',
                    'Cash Flow', 'Cash from Operating Activities, Cumulative',
                    'Total Debt', 'Total Liabilities',
                    'Total Current Assets',
                    ],inplace=True)

fin_df = fin_df.rename(columns={'Net Income After Taxes': 'netinc','Total Assets, Reported': 'assets'})

# save to csv
fin_df.to_csv('data/financials.csv', index=True)

display(fin_df)

,ticker,assets,netinc,revenue,rnd,cash,grossprofit,opinc,cashflow,debt,currentassets
timestamp,,,,,,,,,,,
2024-12-31,AAB.CO,1.178170e+08,-4.417600e+07,7.518500e+07,0.0,5.166100e+07,4.838800e+07,-4.347700e+07,-2.987400e+07,2.992200e+07,6.617300e+07
2024-12-31,AABn.CO^F06,1.178170e+08,-4.417600e+07,7.518500e+07,0.0,5.166100e+07,4.838800e+07,-4.347700e+07,-2.987400e+07,2.992200e+07,6.617300e+07
2024-12-31,AABn.CO^J03,1.178170e+08,-4.417600e+07,7.518500e+07,0.0,5.166100e+07,4.838800e+07,-4.347700e+07,-2.987400e+07,2.992200e+07,6.617300e+07
2024-12-31,ALKb.CO,8.246000e+09,8.150000e+08,5.537000e+09,520000000.0,5.890000e+08,3.552000e+09,1.091000e+09,1.081000e+09,1.187000e+09,3.294000e+09
2024-12-31,ALMB.CO,3.543500e+10,7.980000e+08,1.357800e+10,0.0,2.950000e+08,1.357800e+10,1.195000e+09,1.377000e+09,2.252000e+09,0.000000e+00
...,...,...,...,...,...,...,...,...,...,...,...
2000-12-31,DSV.CO,1.819062e+09,1.399830e+08,4.371256e+09,0.0,1.298300e+08,6.220370e+08,1.986770e+08,2.153960e+08,4.134860e+08,1.042343e+09
2001-04-30,INVb.CO^F05,2.650000e+09,3.010000e+07,1.673400e+09,0.0,7.207000e+08,1.673400e+09,8.260000e+07,2.523690e+08,9.928770e+08,1.403897e+09
2002-04-30,INVb.CO^F05,2.467500e+09,4.000000e+06,1.796400e+09,0.0,7.305000e+08,1.796400e+09,-2.380000e+07,3.179960e+08,8.699290e+08,1.452345e+09
2003-04-30,INVb.CO^F05,2.764300e+09,5.550000e+07,1.791400e+09,0.0,7.953000e+08,1.791400e+09,3.032000e+08,4.403510e+08,7.600010e+08,1.801125e+09
2004-04-30,INVb.CO^F05,1.764800e+09,1.219500e+09,8.689000e+08,0.0,1.271400e+09,8.689000e+08,1.928000e+08,3.156300e+07,3.682000e+06,1.569547e+09