In [1]:
import pandas as pd
import numpy as np
from functions import *

%load_ext autoreload
%autoreload 2

In [2]:
# set paths to data
path = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Ã˜konomi/10 Thesis/Data'

# read monthly market data from eikon
finacials = 'eikon_financials.xlsx'
eikon_dfs = pd.read_excel(path + '/' + finacials, sheet_name=None)
eikon_keys = eikon_dfs.keys()
# print(eikon_keys)

In [3]:
fin_df = eikon_dfs['financials'].iloc[:, 1:]

# set name for first two columns
fin_df.columns = ['timestamp', 'ticker'] + list(fin_df.columns[2:])

# drop rows with no ticker
fin_df = fin_df[fin_df['ticker'].notna()]
# drop rows with no timestamp
fin_df = fin_df[fin_df['timestamp'].notna()].reset_index(drop=True)

display(fin_df)

,timestamp,ticker,Revenue,Gross Profit,Operating Income,Research And Development,Net Income Before Taxes,Total Debt,"Total Assets, Reported",Cash Flow,...,Net Income After Taxes,Total Equity,Total Liabilities And Shareholders' Equity,Quick Ratio,Total Long Term Debt,Depreciation And Amortization,Total Current Liabilities,"Total Receivables, Net","Depreciation, Operating","Depreciation / Depletion, Cumulative"
0,2024-12-31,AAB.CO,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
1,2024-12-31,AABn.CO^F06,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
2,2024-12-31,AABn.CO^J03,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
3,2024-12-31,ALKb.CO,5537000000,3552000000,1091000000,520000000,1057000000,1187000000,8246000000,1081000000,...,815000000,5373000000,8246000000,0.80965,451000000,87000000,1949000000,871000000,87000000,272000000
4,2024-12-31,ALMB.CO,NaN,NaN,1195000000,NaN,1133000000,2252000000,35435000000,1377000000,...,798000000,13403000000,35435000000,NaN,2252000000,346000000,NaN,494000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6239,2000-07-31,DSV.CO,4371256000,622037000,198677000,NaN,196081000,413486000,1819062000,215396000,...,139983000,640237000,1819062000,1.07258,162529000,75413000,928897000,768557000,70012000,69307000
6240,2000-03-31,GPVa.CO^G09,583388000,360811000,38845000,NaN,21011000,244660000,552403000,67440000,...,16160000,172853000,552403000,0.63728,174495000,51280000,192477000,97295000,51280000,51280000
6241,2000-03-31,GPVb.CO^G09,583388000,360811000,38845000,NaN,21011000,244660000,552403000,67440000,...,16160000,172853000,552403000,0.63728,174495000,51280000,192477000,97295000,51280000,51280000
6242,2000-10-31,RBLNb.CO,177343000,95400000,18259000,NaN,20019000,0,153849000,20981000,...,13334000,120394000,153849000,2.20159,0,7647000,27546000,31079000,7647000,NaN
6243,2000-02-29,WEVE.CO^C05,2868800000,1208900000,250400000,NaN,43500000,3718800000,6402900000,132900000,...,41500000,1946400000,6402900000,1.55655,3592700000,91400000,611800000,608500000,91400000,283400000

In [4]:
manual_records = [{
    'timestamp': '2006-08-31 00:00:00', 'ticker': 'ALKb.CO',
    'Revenue': 1489000000, 
    'Gross Profit': 992000000,
    'Research And Development': 282000000,
    'Operating Income': 53000000, 
    'Net Income After Taxes': 44000000, 
    'Cash': 1069000000, 
    'Total Current Assets': 1577000000, 
    'Total Assets, Reported': 2731000000,
    'Total Debt': 77000000,
    'Cash Flow': 60000000,
    'Total Equity': 2094000000,
    'Total Current Liabilities': 405000000,
    'Total Liabilities': 695000000,
    'Depreciation And Amortization': 73000000,
    'Total Receivables, Net': 213000000,
    'Total Long Term Debt': 290000000
},{
    'timestamp': '2004-05-31 00:00:00', 'ticker': 'BIOPOR.CO',
    'Revenue': 2420000, 
    'Gross Profit': 1690000,
    'Research And Development': 0.0,
    'Operating Income': 520000, 
    'Net Income After Taxes': -120000, 
    'Cash': 12400000, 
    'Total Current Assets': 16600000, 
    'Total Assets, Reported': 81000000,
    'Total Debt': 5600000,
    'Cash Flow': -4360000,
    'Total Equity': 66600000,
    'Total Current Liabilities': 3500000,
    'Total Liabilities': 14400000,
    'Depreciation And Amortization': 190000,
    'Total Receivables, Net': 2300000,
    'Total Long Term Debt': 4800000
},{
    'timestamp': '2011-06-30 00:00:00', 'ticker': 'BOLIGA.CO^K21',
    'Revenue': 33175620, 
    'Gross Profit': 29706170,
    'Research And Development': 0.0,
    'Operating Income': 3879050, 
    'Net Income After Taxes': 3345570, 
    'Cash': 32095490, 
    'Total Current Assets': 45296070, 
    'Total Assets, Reported': 58775190,
    'Total Debt': 0.0,
    'Cash Flow': 8961960,
    'Total Equity': 45800000,
    'Total Current Liabilities': 8400000,
    'Total Liabilities': 10400000,
    'Depreciation And Amortization': 8070000,
    'Total Receivables, Net': 5300000,
    'Total Long Term Debt': 0.0
},{
    'timestamp': '2000-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 13139000000, 
    'Gross Profit': 3200000000,
    'Research And Development': 0.0,
    'Operating Income': 697000000, 
    'Net Income After Taxes': 346000000, 
    'Cash': 267000000, 
    'Total Current Assets': 3697000000, 
    'Total Assets, Reported': 7179000000,
    'Total Debt': 4454000000,
    'Cash Flow': 482000000,
    'Total Equity': 2569000000,
    'Total Current Liabilities': 2766000000,
    'Total Liabilities': 4454000000,
    'Depreciation And Amortization': 193000000,
    'Total Receivables, Net': 1461000000,
    'Total Long Term Debt': 1902000000
},{
    'timestamp': '2001-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 14639000000, 
    'Gross Profit': 3546000000,
    'Research And Development': 0.0,
    'Operating Income': 713000000, 
    'Net Income After Taxes': 278000000, 
    'Cash': 272000000, 
    'Total Current Assets': 3621000000, 
    'Total Assets, Reported': 7264000000,
    'Total Debt': 4324000000,
    'Cash Flow': 577000000,
    'Total Equity': 2569000000,
    'Total Current Liabilities': 2552000000,
    'Total Liabilities': 4324000000,
    'Depreciation And Amortization': 211000000,
    'Total Receivables, Net': 1454000000,
    'Total Long Term Debt': 1579000000
},{
    'timestamp': '2002-12-31 00:00:00', 'ticker': 'DATR.CO^G03',
    'Revenue': 14878000000, 
    'Gross Profit': 3662000000,
    'Research And Development': 0.0,
    'Operating Income': 945000000, 
    'Net Income After Taxes': 376000000, 
    'Cash': 325000000, 
    'Total Current Assets': 3505000000, 
    'Total Assets, Reported': 7216000000,
    'Total Debt': 3944000000,
    'Cash Flow': 1224000000,
    'Total Equity': 3065000000,
    'Total Current Liabilities': 2420000000,
    'Total Liabilities': 3944000000,
    'Depreciation And Amortization': 232000000,
    'Total Receivables, Net': 1351000000,
    'Total Long Term Debt': 1524000000
},{
    'timestamp': '2008-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 167760000, 
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 16220000, 
    'Net Income After Taxes': 9464000 , 
    'Cash': 0.0, 
    'Total Current Assets': 58748000, 
    'Total Assets, Reported': 64935000,
    'Total Debt': 64916000-19499000,
    'Cash Flow': -1000000,
    'Total Equity': 19499000,
    'Total Current Liabilities': 45321000,
    'Total Liabilities': 64916000-19499000,
    'Depreciation And Amortization': 2035000,
    'Total Receivables, Net': 33353000,
    'Total Long Term Debt': 96000
},{
    'timestamp': '2009-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 199805000, 
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 25229000, 
    'Net Income After Taxes': 15692000 , 
    'Cash': 16797000, 
    'Total Current Assets': 76930000, 
    'Total Assets, Reported': 84813000,
    'Total Debt': 84813000-31451000,
    'Cash Flow': -1000000,
    'Total Equity': 31451000,
    'Total Current Liabilities': 53362000,
    'Total Liabilities': 84813000-31451000,
    'Depreciation And Amortization': 3170000,
    'Total Receivables, Net': (496+384+33353+423)*1000,
    'Total Long Term Debt': 0.0
},{
    'timestamp': '2010-12-31 00:00:00', 'ticker': 'DKC.CO^C16',
    'Revenue': 297689000, 
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 36001000, 
    'Net Income After Taxes': 25263000 , 
    'Cash': 14035000, 
    'Total Current Assets': 122273000, 
    'Total Assets, Reported': 135928000,
    'Total Debt': 135928000-41804000,
    'Cash Flow': -1561000,
    'Total Equity': 41804000,
    'Total Current Liabilities': 94124000,
    'Total Liabilities': 135928000-41804000,
    'Depreciation And Amortization': 3743000,
    'Total Receivables, Net': (1294+1364+60533+7429+3597)*1000,
    'Total Long Term Debt': 0.0
},{
    'timestamp': '2000-12-31 00:00:00', 'ticker': 'DSV.CO',
    'Revenue': 4371256000,
    'Gross Profit': 622037000,
    'Research And Development': 0.0,
    'Operating Income': 198677000,
    'Net Income After Taxes': 139983000,
    'Cash': 129830000,
    'Total Current Assets': 1042343000,
    'Total Assets, Reported': 1819062000,
    'Total Debt': 413486000,
    'Cash Flow': 215396000,
    'Total Equity': 640237000,
    'Total Current Liabilities': 928897000,
    'Total Liabilities': 1120726000,
    'Depreciation And Amortization': 70012000,
    'Total Receivables, Net': 787703000,
    'Total Long Term Debt': 191829000
},{
    'timestamp': '2001-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1673400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 82600000,
    'Net Income After Taxes': 30100000,
    'Cash': 720700000,
    'Total Current Assets': 1403897000,
    'Total Assets, Reported': 2650000000,
    'Total Debt': 992877000,
    'Cash Flow': 252369000,
    'Total Equity': 1407100000,
    'Total Current Liabilities': 960627000,
    'Total Liabilities': 1079845000,
    'Depreciation And Amortization': 265200000,
    'Total Receivables, Net': (489423+24793)*1000,
    'Total Long Term Debt': 32250000

},{
    'timestamp': '2002-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1796400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': -23800000,
    'Net Income After Taxes': 4000000,
    'Cash': 730500000,
    'Total Current Assets': 1452345000,
    'Total Assets, Reported': 2467500000,
    'Total Debt': 869929000,
    'Cash Flow': 317996000,
    'Total Equity': 1451200000,
    'Total Current Liabilities': 847444000,
    'Total Liabilities': 1016343000,
    'Depreciation And Amortization': 369000000,
    'Total Receivables, Net': (470388+20231)*1000,
    'Total Long Term Debt': 22485000

},{
    'timestamp': '2003-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 1791400000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 303200000,
    'Net Income After Taxes': 55500000,
    'Cash': 795300000,
    'Total Current Assets': 1801125000,
    'Total Assets, Reported': 2764300000,
    'Total Debt': 760001000,
    'Cash Flow': 440351000,
    'Total Equity': 1792500000,
    'Total Current Liabilities': 719425000,
    'Total Liabilities': 971819000,
    'Depreciation And Amortization': 189200000,
    'Total Receivables, Net': (767794+12600)*1000,
    'Total Long Term Debt': 40576000

},{
    'timestamp': '2004-04-30 00:00:00', 'ticker': 'INVb.CO^F05',
    'Revenue': 868900000,
    'Gross Profit': pd.NA,
    'Research And Development': 0.0,
    'Operating Income': 192800000,
    'Net Income After Taxes': 1219500000,
    'Cash': 1271400000,
    'Total Current Assets': 1569547000,
    'Total Assets, Reported': 1764800000,
    'Total Debt': 3682000,
    'Cash Flow': 31563000,
    'Total Equity': 1761100000,
    'Total Current Liabilities': 3682000,
    'Total Liabilities': 3682000,
    'Depreciation And Amortization': 31500000,
    'Total Receivables, Net': 298160000,
    'Total Long Term Debt': 0
},
]


for rec in manual_records:
    fin_df.loc[len(fin_df)] = rec

fin_df['timestamp'] = pd.to_datetime(fin_df['timestamp'])
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2006-12-31')),
    ['Revenue',
     'Gross Profit',
     'Operating Income',
     'Net Income After Taxes',
     'Research And Development',
     'Cash Flow',
     'Depreciation And Amortization']
] = [1519000000, 1014000000, -55000000, -36000000, 320000000, -2000000,73000000]
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2005-08-31')),
    ['Depreciation And Amortization']
] = [57000000]
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2007-12-31')),
    ['Depreciation And Amortization']
] = [80000000]
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2008-12-31')),
    ['Depreciation And Amortization']
] = [86000000]
fin_df.loc[
    (fin_df['ticker'] == 'ALKb.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2009-12-31')),
    ['Depreciation And Amortization']
] = [85000000]

fin_df.loc[
    (fin_df['ticker'] == 'DAII.CO^I16') &
    (fin_df['timestamp'] == pd.Timestamp('2015-12-31')),
    ['Operating Income',
     'Cash Flow',
     'Depreciation And Amortization']
] = [0,0,83817000]

fin_df.loc[
    (fin_df['ticker'] == 'DAII.CO^I16') &
    (fin_df['timestamp'] == pd.Timestamp('2000-12-31')),
    ['Depreciation And Amortization']
] = [0]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2000-12-31')),
    ['Cash']
] = [3500000]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2001-12-31')),
    ['Cash']
] = [5300000]

fin_df.loc[
    (fin_df['ticker'] == 'MOLS.CO^J16') &
    (fin_df['timestamp'] == pd.Timestamp('2002-12-31')),
    ['Cash']
] = [1600000]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2014-12-31')),
    ['Cash']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2015-12-31')),
    ['Cash']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2020-12-31')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2021-12-31')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2022-12-31')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2023-12-31')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SIGR.CO') &
    (fin_df['timestamp'] == pd.Timestamp('2024-12-31')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'SBS.CO^L24') &
    (fin_df['timestamp'] == pd.Timestamp('2021-12-31')),
    ['Cash']
] = [100000]

fin_df.loc[
    (fin_df['ticker'] == 'SBS.CO^L24') &
    (fin_df['timestamp'] == pd.Timestamp('2022-12-31')),
    ['Cash']
] = [100000]

fin_df.loc[
    (fin_df['ticker'] == 'TOWER.CO^K12') &
    (fin_df['timestamp'] == pd.Timestamp('2011-12-31')),
    ['Cash','Depreciation And Amortization']
] = [0.0,0.0]
fin_df.loc[
    (fin_df['ticker'] == 'TOWER.CO^K12') &
    (fin_df['timestamp'] == pd.Timestamp('2010-12-31')),
    ['Depreciation And Amortization']
] = [2510000]

fin_df.loc[
    (fin_df['ticker'] == 'TOWER.CO^K12') &
    (fin_df['timestamp'] == pd.Timestamp('2009-06-30')),
    ['Depreciation And Amortization']
] = [0.0]

fin_df.loc[
    (fin_df['ticker'] == 'TOWER.CO^K12') &
    (fin_df['timestamp'] == pd.Timestamp('2008-06-30')),
    ['Depreciation And Amortization']
] = [0.0]


fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2000-12-31')),
    ['Depreciation And Amortization']
] = [700000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2001-12-31')),
    ['Depreciation And Amortization']
] = [700000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2002-12-31')),
    ['Depreciation And Amortization']
] = [800000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2003-12-31')),
    ['Depreciation And Amortization']
] = [900000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2004-12-31')),
    ['Depreciation And Amortization']
] = [900000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2005-12-31')),
    ['Depreciation And Amortization']
] = [700000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2006-12-31')),
    ['Depreciation And Amortization']
] = [1600000]

fin_df.loc[
    (fin_df['ticker'] == 'DKC.CO^C16') &
    (fin_df['timestamp'] == pd.Timestamp('2007-12-31')),
    ['Depreciation And Amortization']
] = [2800000]

display(fin_df)

,timestamp,ticker,Revenue,Gross Profit,Operating Income,Research And Development,Net Income Before Taxes,Total Debt,"Total Assets, Reported",Cash Flow,...,Net Income After Taxes,Total Equity,Total Liabilities And Shareholders' Equity,Quick Ratio,Total Long Term Debt,Depreciation And Amortization,Total Current Liabilities,"Total Receivables, Net","Depreciation, Operating","Depreciation / Depletion, Cumulative"
0,2024-12-31,AAB.CO,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
1,2024-12-31,AABn.CO^F06,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
2,2024-12-31,AABn.CO^J03,75185000,48388000,-43477000,NaN,-44176000,29922000,117817000,-29874000,...,-44176000,56720000,117817000,1.87432,23254000,14302000,33641000,11393000,5291000,NaN
3,2024-12-31,ALKb.CO,5537000000,3552000000,1091000000,520000000,1057000000,1187000000,8246000000,1081000000,...,815000000,5373000000,8246000000,0.80965,451000000,87000000,1949000000,871000000,87000000,272000000
4,2024-12-31,ALMB.CO,NaN,NaN,1195000000,NaN,1133000000,2252000000,35435000000,1377000000,...,798000000,13403000000,35435000000,NaN,2252000000,346000000,NaN,494000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6253,2000-12-31,DSV.CO,4371256000,622037000,198677000,0.0,NaN,413486000,1819062000,215396000,...,139983000,640237000,NaN,NaN,191829000,70012000,928897000,787703000,NaN,NaN
6254,2001-04-30,INVb.CO^F05,1673400000,NaN,82600000,0.0,NaN,992877000,2650000000,252369000,...,30100000,1407100000,NaN,NaN,32250000,265200000,960627000,514216000,NaN,NaN
6255,2002-04-30,INVb.CO^F05,1796400000,NaN,-23800000,0.0,NaN,869929000,2467500000,317996000,...,4000000,1451200000,NaN,NaN,22485000,369000000,847444000,490619000,NaN,NaN
6256,2003-04-30,INVb.CO^F05,1791400000,NaN,303200000,0.0,NaN,760001000,2764300000,440351000,...,55500000,1792500000,NaN,NaN,40576000,189200000,719425000,780394000,NaN,NaN
6257,2004-04-30,INVb.CO^F05,868900000,NaN,192800000,0.0,NaN,3682000,1764800000,31563000,...,1219500000,1761100000,NaN,NaN,0,31500000,3682000,298160000,NaN,NaN

In [5]:
# set everything except the first two columns to numeric
for col in fin_df.columns[2:]:
    fin_df[col] = pd.to_numeric(fin_df[col], errors='coerce')

# set index to timestamp
fin_df.set_index('timestamp', inplace=True)


fin_df['revenue'] = (fin_df['Revenue']
                     .fillna(fin_df['Total Revenue'])
                     .fillna(fin_df['Bank Total Revenue'])
                     .fillna(fin_df['Interest Income, Bank']+fin_df['Non-Interest Income, Bank']).fillna(0))

# set R&D to 0 if NaN
fin_df['rnd'] = fin_df['Research And Development'].fillna(0)

fin_df['cash'] = (fin_df['Cash and Short Term Investments']
                  .fillna(fin_df['Cash and Equivalents'])
                  .fillna(fin_df['Cash & Due From Banks'])
                  .fillna(fin_df['Cash'])
                  .fillna(fin_df['Cash and Short Term Investments.1'])
                  .fillna(fin_df['Other Earning Assets, Total'])
                )

fin_df['netinc'] = fin_df['Net Income After Taxes']

fin_df['grossprofit'] = (fin_df['Gross Profit']
                         .fillna(fin_df['revenue']))


fin_df['opinc'] = (fin_df['Operating Income']
                   .fillna(fin_df['grossprofit']-fin_df['Total Operating Expense'])
                   .fillna(fin_df['Net Income Before Taxes']))

fin_df['cashflow'] = (fin_df['Cash Flow']
             .fillna(fin_df['Cash from Operating Activities, Cumulative']))


fin_df['debt'] = (fin_df['Total Debt']
                  .fillna(fin_df['Total Liabilities']))

fin_df['liabilities'] = (fin_df['Total Liabilities']
                        .fillna(fin_df['Total Current Liabilities'])
                        .fillna(fin_df["Total Liabilities And Shareholders' Equity"]-fin_df['Total Equity'])
                        .fillna(fin_df['debt'])
                        .fillna(0))

fin_df['currentassets'] = fin_df['Total Current Assets'].fillna(0)

fin_df['currentliabilities'] = (fin_df['Total Current Liabilities']
                                .fillna(fin_df['Total Liabilities'])
                                .fillna(0))

fin_df['quick'] = (fin_df['Quick Ratio']
                   .fillna(fin_df['currentassets'] / fin_df['currentliabilities'])).replace([np.inf, -np.inf], np.nan)

fin_df['liabilities_equity'] = (fin_df["Total Liabilities And Shareholders' Equity"].fillna(fin_df['Total Equity'] + fin_df['Total Liabilities']))

fin_df['assets'] = fin_df['Total Assets, Reported']

fin_df['longdebt'] = fin_df['Total Long Term Debt']

fin_df['receivables'] = fin_df['Total Receivables, Net']

fin_df['depreciation'] = fin_df['Depreciation And Amortization'].fillna(fin_df['Depreciation, Operating']).fillna(fin_df['Depreciation / Depletion, Cumulative'])

fin_df['equity'] = fin_df['Total Equity']
                            

# drop columns
fin_df.drop(columns=['Revenue', 'Total Revenue', 'Bank Total Revenue', 'Interest Income, Bank', 'Non-Interest Income, Bank',
                    'Research And Development', 
                    'Cash','Cash and Equivalents',
                    'Cash and Short Term Investments', 
                    'Cash & Due From Banks', 
                    'Cash and Short Term Investments.1',
                    'Other Earning Assets, Total',
                    'Gross Profit',
                    'Operating Income', 'Total Operating Expense', 
                    'Net Income Before Taxes',
                    'Cash Flow', 
                    'Cash from Operating Activities, Cumulative',
                    'Total Debt', 
                    'Total Current Assets',
                    'Quick Ratio',
                    'Total Current Liabilities',
                    "Total Liabilities And Shareholders' Equity",
                    'Net Income After Taxes',
                    'Total Assets, Reported',
                    'Total Equity',
                    'Total Liabilities',
                    'Depreciation And Amortization',
                    'Total Receivables, Net',
                    'Total Long Term Debt',
                    'Depreciation, Operating',
                    'Depreciation / Depletion, Cumulative',
                    ],inplace=True)

# fin_df = fin_df.rename(columns={
#                                 # 'Total Assets, Reported': 'assets', 
#                                 'Total Equity':'equity', 
#                                 'Total Liabilities': 'liabilities',
#                                 'Total Long Term Debt':'longdebt', 
#                                 'Depreciation And Amortization': 'depreciation',
#                                 'Total Receivables, Net': 'receivables',
#                                 })

# sort
fin_df.sort_values(by=['ticker', 'timestamp'], inplace=True)

# display(fin_df)

In [6]:
# save to csv
fin_df.to_csv('data/financials.csv', index=True)