In [10]:
import pandas as pd
import numpy as np
import os

In [11]:
path_market = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Økonomi/10 Thesis/Data/Market'
path_finacials = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Økonomi/10 Thesis/Data/Financials'

files_market = os.listdir(path_market)
files_financials = os.listdir(path_finacials)

# remove hidden files
files_market = [f for f in files_market if not f.startswith('.')]
files_financials = [f for f in files_financials if not f.startswith('.')]

In [12]:
# read monthly market data from eikon
market_dfs = pd.read_excel(path_market + '/' + files_market[0], sheet_name=None)
market_keys = market_dfs.keys()
print(market_keys)

dict_keys(['OMX Copenhagen_PI | Leavers and', 'Unique Stocks', 'OMXCPI', 'NACE', 'Outstanding Shares', 'Trade Values', 'PE Ratio', 'Turnover', 'Ask', 'Bid'])

In [13]:
# clean stock names
stocks_df = market_dfs['Unique Stocks'].iloc[:,0:3]

# display the modified DataFrame
display(stocks_df)

                 Name    Code incl. Expiration           Code
0    Aalborg Boldspil                   AAB.CO         AAB.CO
1    Aalborg Boldspil    AABn.CO^F06 (expired)    AABn.CO^F06
2    Aalborg Boldspil    AABn.CO^J03 (expired)    AABn.CO^J03
3    Aarhus Lokalbank  AARHUS.CO^D12 (expired)  AARHUS.CO^D12
4    Aak Denmark Hldg  AARUTD.CO^K05 (expired)  AARUTD.CO^K05
..                ...                      ...            ...
418       Vestas Wind    VWSn.CO^F04 (expired)    VWSn.CO^F04
419      Selskab 1979   WALLS.CO^I10 (expired)   WALLS.CO^I10
420   Magasin Du Nord    WEVE.CO^C05 (expired)    WEVE.CO^C05
421            Wewers   WEWER.CO^L05 (expired)   WEWER.CO^L05
422    Zealand Pharma                  ZELA.CO        ZELA.CO

[423 rows x 3 columns]

In [14]:
trade_values_df = market_dfs['Trade Values'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
trade_values_df.columns = pd.MultiIndex.from_arrays(trade_values_df.iloc[:2].values)

# drop the first two rows as they are now headers
trade_values_df = trade_values_df.iloc[2:].reset_index(drop=True)

# set the first column as index
trade_values_df.set_index(trade_values_df.columns[0], inplace=True)
trade_values_df.index.name = "Timestamp"
trade_values_df = trade_values_df.sort_index(axis=1, level=0)
# display the modified DataFrame
display(trade_values_df)

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

                 AAB.CO                                                      \
            Trade Close   Trade High    Trade Low   Trade Open Trade Volume
Timestamp
2025-03-31         30.8         33.8           29         33.8         7687
2025-02-28         32.6         34.4         32.2         34.2         3204
2025-01-31         34.2           35         30.8         34.8        13429
2024-12-31         34.6         35.4           33         34.8         4570
2024-11-30         34.6         39.2         34.6         37.4         4963
...                 ...          ...          ...          ...          ...
2001-05-31  2876.151458  3399.088086  2876.151458  3137.619772   165.335521
2001-04-30  3189.913435  4183.493029  3189.913435  4183.493029   126.305935
2001-03-31  3503.675412  3765.143726  3451.381749  3765.143726   117.279985
2001-02-28  3765.143726  4235.786692  3399.088086  4131.199367   506.103389
2001-01-31  4026.612041  4183.493029  2614.683143  2771.564132   691.536948

           AABn.CO^F06                                               ...  \
           Trade Close Trade High Trade Low Trade Open Trade Volume  ...
Timestamp                                                            ...
2025-03-31         NaN        NaN       NaN        NaN          NaN  ...
2025-02-28         NaN        NaN       NaN        NaN          NaN  ...
2025-01-31         NaN        NaN       NaN        NaN          NaN  ...
2024-12-31         NaN        NaN       NaN        NaN          NaN  ...
2024-11-30         NaN        NaN       NaN        NaN          NaN  ...
...                ...        ...       ...        ...          ...  ...
2001-05-31         NaN        NaN       NaN        NaN          NaN  ...
2001-04-30         NaN        NaN       NaN        NaN          NaN  ...
2001-03-31         NaN        NaN       NaN        NaN          NaN  ...
2001-02-28         NaN        NaN       NaN        NaN          NaN  ...
2001-01-31         NaN        NaN       NaN        NaN          NaN  ...

           WEWER.CO^L05                                               \
            Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31          NaN        NaN       NaN        NaN          NaN
2025-02-28          NaN        NaN       NaN        NaN          NaN
2025-01-31          NaN        NaN       NaN        NaN          NaN
2024-12-31          NaN        NaN       NaN        NaN          NaN
2024-11-30          NaN        NaN       NaN        NaN          NaN
...                 ...        ...       ...        ...          ...
2001-05-31          650        700       625        625          180
2001-04-30          600        600       600        600         1475
2001-03-31          690        690       690        690          320
2001-02-28          800        800       800        800          200
2001-01-31          NaN        NaN       NaN        NaN          NaN

               ZELA.CO
           Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31       538.5        725     486.4      664.5     10180918
2025-02-28         663        788       657      714.5      3876841
2025-01-31       735.5        808     682.5      718.5      3538390
2024-12-31       715.5        819       587        728      4138727
2024-11-30         730        893     672.5      789.5      4650485
...                ...        ...       ...        ...          ...
2001-05-31         NaN        NaN       NaN        NaN          NaN
2001-04-30         NaN        NaN       NaN        NaN          NaN
2001-03-31         NaN        NaN       NaN        NaN          NaN
2001-02-28         NaN        NaN       NaN        NaN          NaN
2001-01-31         NaN        NaN       NaN        NaN          NaN

[291 rows x 2003 columns]

In [17]:
# required columns:
required_columns = {"Trade Close", "Trade High", "Trade Low", "Trade Open", "Trade Volume"}

# extract all tickers from the first level of the columns
tickers = trade_values_df.columns.levels[0]

valid_tickers = []

for ticker in tickers:
    # the sub-columns (second-level) for this particular ticker
    subcols = set(trade_values_df[ticker].columns)
    
    # check if all required columns are present
    if required_columns.issubset(subcols):
        
        # now check how many valid rows the ticker has.
        subdf = trade_values_df[ticker][list(required_columns)]
        
        # count rows that are non-null in *all* required columns:
        non_null_rows = subdf.dropna(how="any").shape[0]
        
        if non_null_rows >= 3: # at least 3 months w. data (removes ~80 tickers)
            valid_tickers.append(ticker)

# filter the original DataFrame to keep only valid tickers and all their second-level columns:
trade_df = trade_values_df.loc[:, (valid_tickers, slice(None))]

# display or continue working with the cleaned DataFrame
display(trade_df)

                 AAB.CO                                                      \
            Trade Close   Trade High    Trade Low   Trade Open Trade Volume
Timestamp
2025-03-31         30.8         33.8           29         33.8         7687
2025-02-28         32.6         34.4         32.2         34.2         3204
2025-01-31         34.2           35         30.8         34.8        13429
2024-12-31         34.6         35.4           33         34.8         4570
2024-11-30         34.6         39.2         34.6         37.4         4963
...                 ...          ...          ...          ...          ...
2001-05-31  2876.151458  3399.088086  2876.151458  3137.619772   165.335521
2001-04-30  3189.913435  4183.493029  3189.913435  4183.493029   126.305935
2001-03-31  3503.675412  3765.143726  3451.381749  3765.143726   117.279985
2001-02-28  3765.143726  4235.786692  3399.088086  4131.199367   506.103389
2001-01-31  4026.612041  4183.493029  2614.683143  2771.564132   691.536948

           AARHUS.CO^D12                                                 ...  \
             Trade Close Trade High  Trade Low Trade Open  Trade Volume  ...
Timestamp                                                                ...
2025-03-31           NaN        NaN        NaN        NaN           NaN  ...
2025-02-28           NaN        NaN        NaN        NaN           NaN  ...
2025-01-31           NaN        NaN        NaN        NaN           NaN  ...
2024-12-31           NaN        NaN        NaN        NaN           NaN  ...
2024-11-30           NaN        NaN        NaN        NaN           NaN  ...
...                  ...        ...        ...        ...           ...  ...
2001-05-31     33.421277  33.421277  32.575168  32.575168  11476.072727  ...
2001-04-30     33.421277  33.421277  32.575168  32.575168  20328.367755  ...
2001-03-31     32.575168  33.421277  32.575168  32.575168   62627.91903  ...
2001-02-28     32.575168  33.421277  30.036843  31.306006  59058.635854  ...
2001-01-31     30.459898  31.306006  30.459898  31.306006  18933.747175  ...

           WEWER.CO^L05                                               \
            Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31          NaN        NaN       NaN        NaN          NaN
2025-02-28          NaN        NaN       NaN        NaN          NaN
2025-01-31          NaN        NaN       NaN        NaN          NaN
2024-12-31          NaN        NaN       NaN        NaN          NaN
2024-11-30          NaN        NaN       NaN        NaN          NaN
...                 ...        ...       ...        ...          ...
2001-05-31          650        700       625        625          180
2001-04-30          600        600       600        600         1475
2001-03-31          690        690       690        690          320
2001-02-28          800        800       800        800          200
2001-01-31          NaN        NaN       NaN        NaN          NaN

               ZELA.CO
           Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31       538.5        725     486.4      664.5     10180918
2025-02-28         663        788       657      714.5      3876841
2025-01-31       735.5        808     682.5      718.5      3538390
2024-12-31       715.5        819       587        728      4138727
2024-11-30         730        893     672.5      789.5      4650485
...                ...        ...       ...        ...          ...
2001-05-31         NaN        NaN       NaN        NaN          NaN
2001-04-30         NaN        NaN       NaN        NaN          NaN
2001-03-31         NaN        NaN       NaN        NaN          NaN
2001-02-28         NaN        NaN       NaN        NaN          NaN
2001-01-31         NaN        NaN       NaN        NaN          NaN

[291 rows x 1705 columns]

In [19]:
# create an IndexSlice for easier multi-index slicing
pd.set_option('future.no_silent_downcasting', True)
idx = pd.IndexSlice

# loop over the tickers that are actually in the DataFrame
for ticker in trade_df.columns.get_level_values(0).unique():
    # extract the sub-dataframe for this ticker using .loc with IndexSlice
    subdf = trade_df.loc[:, idx[ticker, :]]
    
    # find the index range where the ticker has any valid data
    valid_idx = subdf.dropna(how='all').index

    # use backward fill in the date range
    trade_df.loc[valid_idx.max():valid_idx.min(), idx[ticker, :]] = trade_df.loc[valid_idx.max():valid_idx.min(), idx[ticker, :]].bfill()

# display the updated DataFrame
display(trade_df)

# save df
trade_df.to_csv('data/trade_df.csv')

                 AAB.CO                                                      \
            Trade Close   Trade High    Trade Low   Trade Open Trade Volume
Timestamp
2025-03-31         30.8         33.8         29.0         33.8       7687.0
2025-02-28         32.6         34.4         32.2         34.2       3204.0
2025-01-31         34.2         35.0         30.8         34.8      13429.0
2024-12-31         34.6         35.4         33.0         34.8       4570.0
2024-11-30         34.6         39.2         34.6         37.4       4963.0
...                 ...          ...          ...          ...          ...
2001-05-31  2876.151458  3399.088086  2876.151458  3137.619772   165.335521
2001-04-30  3189.913435  4183.493029  3189.913435  4183.493029   126.305935
2001-03-31  3503.675412  3765.143726  3451.381749  3765.143726   117.279985
2001-02-28  3765.143726  4235.786692  3399.088086  4131.199367   506.103389
2001-01-31  4026.612041  4183.493029  2614.683143  2771.564132   691.536948

           AARHUS.CO^D12                                                 ...  \
             Trade Close Trade High  Trade Low Trade Open  Trade Volume  ...
Timestamp                                                                ...
2025-03-31           NaN        NaN        NaN        NaN           NaN  ...
2025-02-28           NaN        NaN        NaN        NaN           NaN  ...
2025-01-31           NaN        NaN        NaN        NaN           NaN  ...
2024-12-31           NaN        NaN        NaN        NaN           NaN  ...
2024-11-30           NaN        NaN        NaN        NaN           NaN  ...
...                  ...        ...        ...        ...           ...  ...
2001-05-31     33.421277  33.421277  32.575168  32.575168  11476.072727  ...
2001-04-30     33.421277  33.421277  32.575168  32.575168  20328.367755  ...
2001-03-31     32.575168  33.421277  32.575168  32.575168   62627.91903  ...
2001-02-28     32.575168  33.421277  30.036843  31.306006  59058.635854  ...
2001-01-31     30.459898  31.306006  30.459898  31.306006  18933.747175  ...

           WEWER.CO^L05                                               \
            Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31          NaN        NaN       NaN        NaN          NaN
2025-02-28          NaN        NaN       NaN        NaN          NaN
2025-01-31          NaN        NaN       NaN        NaN          NaN
2024-12-31          NaN        NaN       NaN        NaN          NaN
2024-11-30          NaN        NaN       NaN        NaN          NaN
...                 ...        ...       ...        ...          ...
2001-05-31          650        700       625        625          180
2001-04-30          600        600       600        600         1475
2001-03-31          690        690       690        690          320
2001-02-28          800        800       800        800          200
2001-01-31          NaN        NaN       NaN        NaN          NaN

               ZELA.CO
           Trade Close Trade High Trade Low Trade Open Trade Volume
Timestamp
2025-03-31       538.5      725.0     486.4      664.5     10180918
2025-02-28       663.0      788.0     657.0      714.5      3876841
2025-01-31       735.5      808.0     682.5      718.5      3538390
2024-12-31       715.5      819.0     587.0      728.0      4138727
2024-11-30       730.0      893.0     672.5      789.5      4650485
...                ...        ...       ...        ...          ...
2001-05-31         NaN        NaN       NaN        NaN          NaN
2001-04-30         NaN        NaN       NaN        NaN          NaN
2001-03-31         NaN        NaN       NaN        NaN          NaN
2001-02-28         NaN        NaN       NaN        NaN          NaN
2001-01-31         NaN        NaN       NaN        NaN          NaN

[291 rows x 1705 columns]

In [20]:
# use valid_tickers to filter the stocks_df
stocks_df = stocks_df[stocks_df['Code'].isin(valid_tickers)].reset_index(drop=True)
display(stocks_df)

                 Name    Code incl. Expiration           Code
0              Penneo  PENNEO.CO^C25 (expired)  PENNEO.CO^C25
1          Noble Corp   NOBLE.CO^L24 (expired)   NOBLE.CO^L24
2               Sampo                 SAMPO.CO       SAMPO.CO
3          Topdanmark     TOP.CO^J24 (expired)     TOP.CO^J24
4           Intermail   IMAIL.CO^E24 (expired)   IMAIL.CO^E24
..                ...                      ...            ...
321  Britannia Invest                  SYDB.CO        SYDB.CO
322            I-Data                   TIV.CO         TIV.CO
323           Bioscan                   UIE.CO         UIE.CO
324         2M Invest                   VWS.CO         VWS.CO
325   United Plantatn                  VJBA.CO        VJBA.CO

[326 rows x 3 columns]

In [ ]:
# # overlapping w. trade_values_df
# common_df = market_dfs['Common'].iloc[:,1:]

# # convert the extracted values to strings to prevent dtype inference issues
# common_df.columns = pd.MultiIndex.from_arrays(common_df.iloc[:2].values)

# # drop the first two rows as they are now headers
# common_df = common_df.iloc[2:].reset_index(drop=True)

# # set the first column as index
# common_df.set_index(common_df.columns[0], inplace=True)
# common_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(common_df.sort_index(axis=1, level=0))

In [ ]:
pe_ratio_df = market_dfs['PE Ratio'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
pe_ratio_df.columns = pd.MultiIndex.from_arrays(pe_ratio_df.iloc[:2].values)

# drop the first two rows as they are now headers
pe_ratio_df = pe_ratio_df.iloc[2:].reset_index(drop=True)

# set the first column as index
pe_ratio_df.set_index(pe_ratio_df.columns[0], inplace=True)
pe_ratio_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(pe_ratio_df.sort_index(axis=1, level=0))

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [ ]:
turnover_df = market_dfs['Turnover'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
turnover_df.columns = pd.MultiIndex.from_arrays(turnover_df.iloc[:2].values)

# drop the first two rows as they are now headers
turnover_df = turnover_df.iloc[2:].reset_index(drop=True)

# set the first column as index
turnover_df.set_index(turnover_df.columns[0], inplace=True)
turnover_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(turnover_df.sort_index(axis=1, level=0))

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [ ]:
ask_df = market_dfs['Ask'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
ask_df.columns = pd.MultiIndex.from_arrays(ask_df.iloc[:2].values)

# drop the first two rows as they are now headers
ask_df = ask_df.iloc[2:].reset_index(drop=True)

# set the first column as index
ask_df.set_index(ask_df.columns[0], inplace=True)
ask_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(ask_df.sort_index(axis=1, level=0))

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

In [ ]:
bid_df = market_dfs['Bid'].iloc[:,1:]

# convert the extracted values to strings to prevent dtype inference issues
bid_df.columns = pd.MultiIndex.from_arrays(bid_df.iloc[:2].values)

# drop the first two rows as they are now headers
bid_df = bid_df.iloc[2:].reset_index(drop=True)

# set the first column as index
bid_df.set_index(bid_df.columns[0], inplace=True)
bid_df.index.name = "Timestamp"

# # display the modified DataFrame
# display(bid_df.sort_index(axis=1, level=0))

/opt/anaconda3/lib/python3.11/site-packages/pandas/core/indexes/base.py:7588: FutureWarning: Dtype inference on a pandas object (Series, Index, ExtensionArray) is deprecated. The Index constructor will keep the original dtype in the future. Call `infer_objects` on the result to get the old behavior.
  return Index(sequences[0], name=names)

,AAB.CO,AABn.CO^F06,AABn.CO^J03,AARHUS.CO^D12,AARUTD.CO^K05,AFFI.CO^J12,AGATE.CO,AGFEb.CO,ALBCa.CO^F02,ALBCb.CO^F02,...,VORDnn.CO^D04,VTHa.CO^E03,VTJB.CO^E03,VWS.CO,VWSn.CO^D06,VWSn.CO^F04,WALLS.CO^I10,WEVE.CO^C05,WEWER.CO^L05,ZELA.CO
,Bid Close,Bid Close,BID,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,...,BID,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close,Bid Close
Timestamp,,,,,,,,,,,,,,,,,,,,,
2025-03-05,33,NaN,NaN,NaN,NaN,NaN,1.36,0.782,NaN,NaN,...,NaN,NaN,NaN,103.2,NaN,NaN,NaN,NaN,NaN,558.5
2025-03-04,32.8,NaN,NaN,NaN,NaN,NaN,1.36,0.768,NaN,NaN,...,NaN,NaN,NaN,97.18,NaN,NaN,NaN,NaN,NaN,569
2025-03-03,32.8,NaN,NaN,NaN,NaN,NaN,1.38,0.79,NaN,NaN,...,NaN,NaN,NaN,98.16,NaN,NaN,NaN,NaN,NaN,616.5
2025-02-28,32.6,NaN,NaN,NaN,NaN,NaN,1.38,0.786,NaN,NaN,...,NaN,NaN,NaN,101.4,NaN,NaN,NaN,NaN,NaN,664
2025-02-27,32.6,NaN,NaN,NaN,NaN,NaN,1.36,0.774,NaN,NaN,...,NaN,NaN,NaN,102.9,NaN,NaN,NaN,NaN,NaN,699.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2001-01-08,2719.270469,NaN,NaN,30.459898,162,112.941839,122.449264,6.35728,1167,700,...,NaN,NaN,375,75.925595,NaN,NaN,2.6,458,NaN,NaN
2001-01-05,2719.270469,NaN,NaN,30.459898,NaN,115.837783,121.485096,NaN,1167,700,...,NaN,NaN,375,72.344199,NaN,NaN,2.6,460,NaN,NaN
2001-01-04,2666.976806,NaN,NaN,30.459898,NaN,118.154539,121.96718,NaN,1167,700,...,NaN,NaN,365,75.030246,NaN,NaN,2.6,461,NaN,NaN
2001-01-03,2719.270469,NaN,NaN,30.459898,170,119.312917,122.931347,NaN,1167,700,...,NaN,NaN,365,72.881409,NaN,NaN,2.5,461,NaN,NaN
2001-01-02,2666.976806,NaN,NaN,30.459898,160,121.629673,123.413431,6.35728,NaN,700,...,NaN,NaN,365,73.597688,NaN,NaN,2.5,NaN,NaN,NaN

In [12]:
market_df = trade_values_df.join([pe_ratio_df, turnover_df, ask_df, bid_df],how='outer')

# Sort columns by the first level of the multi-index
market_df = market_df.sort_index(axis=1, level=0)

display(market_df)

# save to csv in data folder
market_df.to_csv('data/market_data.csv')

                 AAB.CO                                                  \
              Ask Close    Bid Close PE Ratio  Trade Close   Trade High
Timestamp
2001-01-02  2771.564132  2666.976806      NaN  2719.270469  2876.151458
2001-01-03  2771.564132  2719.270469      NaN  2771.564132  2876.151458
2001-01-04  2719.270469  2666.976806      NaN  2717.178723  2771.564132
2001-01-05  2771.564132  2719.270469      NaN  2719.270469  2719.270469
2001-01-08  2771.564132  2719.270469      NaN  2666.976806  2666.976806
...                 ...          ...      ...          ...          ...
2025-02-27         33.6         32.6      NaN         32.8         33.6
2025-02-28         33.6         32.6      NaN         32.6         33.6
2025-03-03         33.8         32.8      NaN         33.8         33.8
2025-03-04         33.6         32.8      NaN         33.6         33.6
2025-03-05         33.4           33      NaN         33.2         33.4

                                                           AABn.CO^F06  ...  \
              Trade Low   Trade Open Trade Volume Turnover   Ask Close  ...
Timestamp                                                               ...
2001-01-02  2666.976806  2771.564132   106.131407   290510         NaN  ...
2001-01-03  2614.683143  2614.683143    18.013655    49530         NaN  ...
2001-01-04  2614.683143  2614.683143    15.585062    42184         NaN  ...
2001-01-05  2666.976806  2666.976806     3.824555    10250         NaN  ...
2001-01-08  2666.976806  2666.976806    11.836998    51456         NaN  ...
...                 ...          ...          ...      ...         ...  ...
2025-02-27         32.8         33.6          122     4000         NaN  ...
2025-02-28         32.6         32.6           74     2450         NaN  ...
2025-03-03         33.8         33.8           10      340         NaN  ...
2025-03-04         32.8         32.8           66     2190         NaN  ...
2025-03-05         32.6         33.4          248     8180         NaN  ...

           WEWER.CO^L05   ZELA.CO                                            \
               Turnover Ask Close Bid Close PE Ratio Trade Close Trade High
Timestamp
2001-01-02          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-03          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-04          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-05          NaN       NaN       NaN      NaN         NaN        NaN
2001-01-08          NaN       NaN       NaN      NaN         NaN        NaN
...                 ...       ...       ...      ...         ...        ...
2025-02-27          NaN     700.5     699.5      NaN         695        703
2025-02-28          NaN       665       664      NaN         663        692
2025-03-03          NaN       617     616.5      NaN         610        685
2025-03-04          NaN       570       569      NaN       566.5        625
2025-03-05          NaN       560     558.5      NaN         555      586.5


           Trade Low Trade Open Trade Volume   Turnover
Timestamp
2001-01-02       NaN        NaN          NaN        NaN
2001-01-03       NaN        NaN          NaN        NaN
2001-01-04       NaN        NaN          NaN        NaN
2001-01-05       NaN        NaN          NaN        NaN
2001-01-08       NaN        NaN          NaN        NaN
...              ...        ...          ...        ...
2025-02-27       685      692.5       156528  108864400
2025-02-28       657        688       316329  210520970
2025-03-03       610      664.5       424168  269620040
2025-03-04       557        610       595943  345390010
2025-03-05       551        574       373127  210286230

[6047 rows x 3695 columns]