# Cleaning and creation of a C25 dataset for trading
To restrict ourself to stocks with enough liquidity, we will use the C25 index as the only stocks in our trading universe, though training is done on the full dataset.

# Import packages

In [1]:
import pandas as pd
import numpy as np

# from pathlib import Path
# import sys
# parent_dir = Path().resolve().parent
# sys.path.insert(0, str(parent_dir))

# from libs.functions import *

# %load_ext autoreload
# %autoreload 2

# pd.set_option('future.no_silent_downcasting', True)

# Import data

In [ ]:
# set paths to data
path = '/Users/johan/Library/CloudStorage/GoogleDrive-johan.oelgaard@gmail.com/My Drive/04 Økonomi/10 Thesis/Data/c25.xlsx'

# constituents
constituents = pd.read_excel(path, sheet_name='leaverjoiner')
constituents.columns = constituents.iloc[2]
constituents = constituents.iloc[3:]
constituents.reset_index(drop=True, inplace=True)
constituents.rename(columns={'2':None,'Status':'status', 'Issuer': 'name', 'Code': 'ticker', 'Date': 'timestamp'}, inplace=True)
constituents['timestamp'] = pd.to_datetime(constituents['timestamp'], format='%Y-%m-%d')
constituents.rename_axis(columns=None, inplace=True)

# index price
price = pd.read_excel(path, sheet_name='pricehistory')
price.columns = price.iloc[27]
price = price.iloc[28:]
price.reset_index(drop=True, inplace=True)
price.rename(columns={'27':None, 'Exchange Date': 'timestamp', 'Close': 'close'}, inplace=True)
price['timestamp'] = pd.to_datetime(price['timestamp'], format='%Y-%m-%d')
price = price[['timestamp', 'close']]
price.rename_axis(columns=None, inplace=True)

      timestamp    close
0    2025-05-27  1786.87
1    2025-05-26  1774.88
2    2025-05-23  1752.49
3    2025-05-22   1764.4
4    2025-05-21  1787.49
...         ...      ...
1099 2021-01-08  1706.57
1100 2021-01-07  1691.89
1101 2021-01-06  1673.52
1102 2021-01-05  1680.59
1103 2021-01-04  1701.55

[1104 rows x 2 columns]

In [50]:
constituents.rename_axis(columns=None, inplace=True)
constituents

    status              name                  ticker  timestamp
0   Joiner           Sydbank                SYDB.CO  2024-12-23
1   Leaver   Chr Hansen Hldg   CHRH.CO^A24 (expired) 2024-01-31
2   Leaver          FLSmidth                 FLS.CO  2023-12-18
3   Joiner               NKT                 NKT.CO  2023-12-18
4   Leaver  Netcompany Group               NETCG.CO  2023-12-18
5   Joiner    Zealand Pharma                ZELA.CO  2023-12-18
6   Leaver        H.Lundbeck               HLUNb.CO  2022-06-20
7   Leaver        H.Lundbeck               HLUNa.CO  2022-06-20
8   Joiner        Nordea Bnk               NDADK.CO  2022-06-20
9   Leaver        H.Lundbeck    LUN.CO^F22 (expired) 2022-06-10
10  Joiner        H.Lundbeck               HLUNb.CO  2022-06-10
11  Joiner        H.Lundbeck               HLUNa.CO  2022-06-10
12  Joiner        Jyske Bank                JYSK.CO  2021-12-20
13  Leaver           Simcorp    SIM.CO^J23 (expired) 2021-12-20
14  Leaver        Jyske Bank                JYSK.CO  2020-12-21
15  Joiner  Netcompany Group               NETCG.CO  2020-12-21
16  Joiner   Bavarian Nordic                BAVA.CO  2020-06-22
17  Leaver        Topdanmark    TOP.CO^J24 (expired) 2020-06-22
18  Leaver  Drilling Company  DRLCO.CO^J22 (expired) 2019-12-23
19  Joiner        Topdanmark    TOP.CO^J24 (expired) 2019-12-23
20  Joiner  Drilling Company  DRLCO.CO^J22 (expired) 2019-06-24
21  Leaver           Sydbank                SYDB.CO  2019-06-24
22  Leaver        Topdanmark    TOP.CO^J24 (expired) 2019-01-08
23  Leaver        Nordea Bnk               NDADK.CO  2018-12-27
24  Joiner          ROCKWOOL               ROCKb.CO  2018-12-27
25  Joiner           Sydbank                SYDB.CO  2018-12-27
26  Joiner              Ambu               AMBUb.CO  2018-06-18
27  Leaver               NKT                 NKT.CO  2018-06-18
28  Joiner     Royal Unibrew               RBREW.CO  2018-06-18
29  Joiner           Simcorp    SIM.CO^J23 (expired) 2018-06-18
30  Joiner         Carlsberg               CARLb.CO  2016-12-19
31  Joiner   Chr Hansen Hldg   CHRH.CO^A24 (expired) 2016-12-19
32  Joiner         Coloplast               COLOb.CO  2016-12-19
33  Joiner         Danske Bk              DANSKE.CO  2016-12-19
34  Joiner            Demant              DEMANT.CO  2016-12-19
35  Joiner               Dsv                 DSV.CO  2016-12-19
36  Joiner          FLSmidth                 FLS.CO  2016-12-19
37  Joiner     GN Store Nord                  GN.CO  2016-12-19
38  Joiner            Genmab                GMAB.CO  2016-12-19
39  Joiner        H.Lundbeck    LUN.CO^F22 (expired) 2016-12-19
40  Joiner            Iss DK                 ISS.CO  2016-12-19
41  Joiner        Jyske Bank                JYSK.CO  2016-12-19
42  Joiner            Maersk             MAERSKb.CO  2016-12-19
43  Joiner            Maersk             MAERSKa.CO  2016-12-19
44  Joiner               NKT                 NKT.CO  2016-12-19
45  Joiner        Nordea Bnk               NDADK.CO  2016-12-19
46  Joiner      Novo Nordisk               NOVOb.CO  2016-12-19
47  Joiner         Novozymes               NSISb.CO  2016-12-19
48  Joiner           Oersted              ORSTED.CO  2016-12-19
49  Joiner           Pandora              PNDORA.CO  2016-12-19
50  Joiner        Topdanmark    TOP.CO^J24 (expired) 2016-12-19
51  Joiner              Tryg                TRYG.CO  2016-12-19
52  Joiner       Vestas Wind                 VWS.CO  2016-12-19